.gamePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(48, 48, 48);
  background-image: url('../styles/images/background.jpg');
  background-size: contain;
  background-blend-mode: multiply;
}

.gameBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  min-height: 420px;
  width: 600px;
  color: rgb(15, 15, 15);
  background-color: rgb(240, 240, 240);
  border-radius: 15px;
  padding: 20px;
  margin-top: 50px;
}

.cronometer {
  justify-self: center;
  background-color: rgb(247, 0, 0);
  padding: 3px 10px;
  border-radius: 10px;
  color: white;
}

.questionBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
  /* border: 1px solid black; */
}

.alternatives {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 550px;
  /* border: 2px solid black; */
}

.category {
  font-size: 20px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 30px;
}

.question {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  font-weight: bolder;
  font-size: 30px;
  text-align: center;
  margin: 0;
}

.answerButton {
  font-weight: bold;
  cursor: pointer;
  height: 25px;
  background-color: rgb(53, 53, 53);
  color: white;
  min-width: 30px;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 20px;
  border: none;
  margin: 5px;
}

.nextButton {
  font-weight: bold;
  cursor: pointer;
  width: 60px;
  height: 25px;
  background-color: rgb(233, 79, 7);
  color: white;
  border-radius: 5px;
  margin-top: 30px;
  border: none;
}

.nextButton:disabled {
  cursor: default;
  background-color: rgb(189, 189, 189);
}

.settin

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 268px;
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
  margin: 0;
  color: rgba(0, 0, 0, 0.253);
  /* margin-bottom: 10px; */
  /* border: 1px solid black; */
}
