.loginPage {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  color: white;
  background-color: rgb(48, 48, 48);
}

.loginBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: -40px;
}

.loginSidebar {
  font-size: 13px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: rgb(247, 247, 247);
  /* background-image: linear-gradient(rgba(166, 255, 0, 0.671), rgba(255, 255, 0, 0.911)); */
  /* background-image: url(../styles/images/background.jpg); */
  background-size: 500%;
  background-position: right;
  background-blend-mode: darken;
  width: 200px;
  height: 272px;
  border-radius: 7px;
  color: rgba(0, 0, 0, 0.712);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.781);
  font-size: 13px;
  background-image: linear-gradient(rgb(252, 255, 64), rgb(187, 255, 0));
  width: 100%;
  height: 30px;
  position: fixed;
  bottom: 0;
}

.footer p {
  /* color: black; */
}

.developedBy {
  /* position: fixed;
  left: 50vw; */
}

.triviaLogo {
  width: 350px;
  margin-bottom: 20px;
}

.loginForm {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.loginInput {
  width: 200px;
  border: none;
  outline: none;
  height: 20px;
  border-radius: 4px;
  margin-bottom: 5px;
  color: rgb(54, 54, 54);
  padding: 0px 10px;
}

.btnLogin:disabled {
  cursor: default;
  border: none;
  height: 24px;
  color: white;
  border-radius: 4px;
  margin-top: 10px;
  width: 200px;
  background-color: rgba(94, 94, 94, 0.582);
}

.btnLogin {
  /* font-weight: bolder; */
  cursor: pointer;
  border: none;
  height: 24px;
  color: white;
  border-radius: 4px;
  margin-top: 10px;
  width: 200px;
  background-color: rgb(129, 187, 36);
  transition: all 0.3s ease;
}

.btnLogin:focus {
  outline: none;
}

.btnConfig {
  cursor: pointer;
  border: none;
  height: 24px;
  color: white;
  border-radius: 4px;
  margin-top: 10px;
  width: 200px;
  background-color: rgb(235, 138, 28);
}

.btnConfig:focus {
  outline: none;
}

label {
  font-weight: bold;
  font-size: 13px;
  color: rgb(204, 204, 204);
}
